<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxws="http://cxf.apache.org/jaxws" xmlns:jaxrs="http://cxf.apache.org/jaxrs" xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd
	http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd">
	<jaxrs:server id="ipService" address="/ip">
		<jaxrs:serviceBeans>
			<ref bean="adminService" />
			<ref bean="ideaService" />
			<ref bean="challengeService" />
			<ref bean="metaDataService" />
		</jaxrs:serviceBeans>
	</jaxrs:server>

	<bean id="adminService" class="za.co.idea.ip.ws.AdminService"></bean>
	<bean id="ideaService" class="za.co.idea.ip.ws.IdeaService"></bean>
	<bean id="challengeService" class="za.co.idea.ip.ws.ChallengeService"></bean>
	<bean id="metaDataService" class="za.co.idea.ip.ws.MetaDataService"></bean>

</beans>
