<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:util="http://www.springframework.org/schema/util" xmlns:cxf="http://cxf.apache.org/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxws="http://cxf.apache.org/jaxws" xmlns:jaxrs="http://cxf.apache.org/jaxrs" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/util  http://www.springframework.org/schema/util/spring-util.xsd
	http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd
	http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd
	http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd">
	<import resource="classpath:ipWSContext.xml" />
	<bean id="jacksonMapper" class="za.co.idea.ip.ws.util.CustomObjectMapper" />
	<jaxrs:server id="ipService" address="/ip">
		<jaxrs:serviceBeans>
			<ref bean="adminService" />
			<ref bean="ideaService" />
			<ref bean="tagService" />
			<ref bean="challengeService" />
			<ref bean="solutionService" />
			<ref bean="claimService" />
			<ref bean="rewardsService" />
			<ref bean="metaDataService" />
		</jaxrs:serviceBeans>
		<jaxrs:providers>
			<bean class="org.codehaus.jackson.jaxrs.JacksonJsonProvider">
				<property name="mapper" ref="jacksonMapper" />
			</bean>
		</jaxrs:providers>
		<jaxrs:extensionMappings>
			<entry key="json" value="application/json" />
		</jaxrs:extensionMappings>
		<jaxrs:languageMappings>
			<entry key="en" value="en-gb" />
		</jaxrs:languageMappings>
		<jaxrs:features>
			<cxf:logging />
		</jaxrs:features>
	</jaxrs:server>

</beans>
